@page "/product-list"
@using AspireShowcase.Client.Models
@using AspireShowcase.Client.Services
@inject ProductListService _productListService

<PageTitle>Product List</PageTitle>

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
            </tr>
        }
    </tbody>
</table>

@code {
	private List<Product> _products = new List<Product>();

	protected override async Task OnInitializedAsync()
	{
		_products = await _productListService.GetAllProducts();
	}
}
